{% extends "base.html" %}
{% block account %}
{% include "authorized.html" %}
{% endblock %}
{% block main %}
<h3 class="me-3 mt-2">New Question</h3>
<form class="mt-4">
    <div class="row mb-3 align-items-center">
        <label for="title" class="col-1 col-form-label text-start">Title</label>
        <div class="col-11">
        <input type="text" class="form-control" id="title">
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <label for="message" class="col-1 col-form-label text-start">Text</label>
        <div class="col-11">
        <textarea class="form-control" id="message" rows="4"></textarea>
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <label for="tags" class="col-1 col-form-label text-start">Tags</label>
        <div class="col-11">
        <input type="text" class="form-control" id="tags">
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <div class="col-1"></div>
        <div class="col-11">
            <button type="submit" class="btn btn-primary px-4">ASK!</button>
        </div>
    </div>
</form>
{% endblock main %}