{% extends "base.html" %}
{% block main %}
<h3 class="me-3 mt-2">Settings: {{ request.user.username }}</h3>
<form class="mt-4" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <div class="row mb-3 align-items-center">
        <label for="{{ form.username.id_for_label }}" class="col-2 col-form-label text-start">Login</label>
        <div class="col-10">
            {{ form.username }}
            {% if form.username.errors %}
                <div class="text-danger small">{{ form.username.errors }}</div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <label for="{{ form.email.id_for_label }}" class="col-2 col-form-label text-start">Email</label>
        <div class="col-10">
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger small">{{ form.email.errors }}</div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <label for="{{ form.avatar.id_for_label }}" class="col-2 col-form-label text-start">Upload avatar</label>
        <div class="col-10">
            {{ form.avatar }}
            {% if form.avatar.errors %}
                <div class="text-danger small">{{ form.avatar.errors }}</div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <div class="col-2"></div>
        <div class="col-10">
            <button type="submit" class="btn btn-primary px-4">Save</button>
        </div>
    </div>
</form>
{% endblock main %}