{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="row">
    <div class="col-2 text-center">
        <img src="{{ question.author.avatar_url }}"
             width="96" height="96" class="me-2 rounded-circle" alt="avatar image">
        <div class="vote-box mt-2">
            <button class="btn btn-outline-success vote-btn up">▲</button>
            <span class="vote-count">{{ question.rating }}</span>
            <button class="btn btn-outline-danger vote-btn down">▼</button>
        </div>
    </div>
    <div class="col-10 d-flex flex-column" style="padding-left: 12px;">
        <h3>{{ question.title }}</h3>
        <p>{{ question.text }}</p>

        <div class="mt-auto">
            <p class="mb-0">
                Tags:
                {% for tag in question.tags.all %}
                    <a href="{% url 'questions_by_tag' tag.name %}" class="me-2">
                        {{ tag.name }}
                    </a>
                {% empty %}
                    <span class="text-muted">no tags</span>
                {% endfor %}
            </p>
        </div>
    </div>
</div>

<hr>

<div class="col mt-3">
    {% for answer in answers %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-1 text-center">
                    <img src="{{ answer.author.avatar_url }}"
                         width="42" height="42" class="me-2 rounded-circle" alt="avatar image">
                    <div class="vote-box mt-2">
                        <button class="btn btn-outline-success vote-btn up">▲</button>
                        <span class="vote-count">{{ answer.rating }}</span>
                        <button class="btn btn-outline-danger vote-btn down">▼</button>
                    </div>
                </div>

                <div class="col-11 d-flex flex-column" style="padding-left: 12px;">
                    <p>{{ answer.text }}</p>
                    <div class="text-muted small mt-auto">
                        Answered by: {{ answer.author.user.username }} • {{ answer.created_at|timesince }} ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-muted">No answers yet.</p>
    {% endfor %}
    {% include 'pagination.html' %}
</div>

<form class="mt-3 mb-5">
    <textarea name="text" class="form-control mb-3" rows="7" placeholder="Enter your answer here..."></textarea>
    <button class="btn btn-primary" type="submit">Answer</button>
</form>
{% endblock %}