{% extends "base.html" %}
{% block account %}
{% include "unauthorized.html" %}
{% endblock %}
{% block main %}
<h3 class="me-3 mt-2">Log In</h3>
<div class="text-danger">Sorry, this email address allready registred!</div>
<form class="mt-4">
    <div class="row mb-3 align-items-center">
        <label for="login" class="col-3 col-form-label text-start">Login</label>
        <div class="col-9">
        <input type="text" class="form-control" id="login">
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <label for="email" class="col-3 col-form-label text-start">Email</label>
        <div class="col-9">
        <input type="email" class="form-control" id="email">
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <label for="nickname" class="col-3 col-form-label text-start">NickName</label>
        <div class="col-9">
        <input type="text" class="form-control" id="nickname">
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <label for="formFile" class="col-3 col-form-label text-start">Upload avatar</label>
        <div class="col-9">
        <input class="form-control" type="file" id="formFile">
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <label for="password" class="col-3 col-form-label text-start">Password</label>
        <div class="col-9">
        <input class="form-control" type="password">
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <label for="repeat_password" class="col-3 col-form-label text-start">Repeat password</label>
        <div class="col-9">
        <input class="form-control" type="password" id="repeat_password">
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <div class="col-3"></div>
        <div class="col-9">
            <button type="submit" class="btn btn-primary px-4">Register!</button>
        </div>
    </div>
</form>
{% endblock %}